<div class="box">
  <form (ngSubmit)="emitCharacter()">


    <div class="field is-horizontal">
      <h4> Agregar Personaje</h4>
    </div>

    <div class="field is-horizontal">
      <div class="field-label ">
        <label for=""> Nombre </label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                <i class='bx bxs-user is-normal'></i> <strong class="has-text-white">:</strong>
              </a>
            </p>
            <p class="control is-expanded">
              <input class="input" [(ngModel)]="character.name" name="name" type="text" placeholder="nombre">
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label ">
        <label for=""> Poder </label>
      </div>
      <div class="field-body">
        <div class="field is-expanded">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                <i class='bx bxs-shield-plus'></i> <strong class="has-text-white">:</strong>
              </a>
            </p>
            <p class="control is-expanded">
              <input class="input" [(ngModel)]="character.power" name="power" type="number" placeholder="poder">
            </p>
          </div>

        </div>
      </div>
    </div>



    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary">
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
    {{ character | json}}
  </form>

</div>
